.main {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-items: center;
}

.codeHolder {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.codeBubble pre {
    border: solid var(--ifm-color-primary-darkest);
    border-width: 2px;
    --amethyst-bg: #1e1025;
    border-radius: 1rem;
    font-size: 1.25rem;
    max-width: 95vw;
}

.extraCodeBubble pre {
    border: solid var(--ifm-color-primary-darkest);
    border-width: 2px;
    --amethyst-bg: #1e1025;
    border-radius: 1rem;
    font-size: 1.1rem;
    max-width: 95vw;
}

.terminalBubble {
    border-radius: 1rem;
    border-width: 2rem;
    border: solid var(--ifm-color-primary-darkest);
    background-color: #101010 !important;
    
    padding: 2rem;

    font-size: 1.25rem;

    max-width: 95vw;
}

.heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
    max-width: 60%;
}

@media screen and (max-width: 1550px) {
    .extraCodeBubble {
        display: none;
    }
}

@media screen and (max-width: 996px) {
    .codeBubble pre {
        font-size: inherit;
    }

    .heading {
        max-width: 80%;
        font-size: 2rem;
    }

    .terminalBubble {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 500px) {
    .codeBubble pre {
        font-size: 0.75rem;
    }
}
