name: Amethyst

on:
  push:
    branches:
      - '**'
    tags-ignore:
      - '**'
    paths:
      - Amethyst/**
      - Geode/**
      - Datapack.Net/**
      - Datapack.Net.Tests/**
      - .github/workflows/amethyst.yml
      - scripts/test_mc.py
  pull_request:
    branches:
      - '**'

jobs:
  build:
    name: "Build ${{ matrix.type.name }}"
    runs-on: ${{ matrix.type.os }}

    strategy:
      matrix:
        type: [
          {os: ubuntu-latest, name: linux},
          {os: windows-latest, name: windows},
          {os: windows-11-arm, name: windows-arm},
          {os: macos-latest, name: "mac"}
        ]
      fail-fast: false

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Restore Dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Datapack.Net Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Publish
      working-directory: ./Amethyst
      run: dotnet publish --configuration Release --output dist

    - name: Upload Build
      uses: actions/upload-artifact@v4
      with:
        name: amethyst-${{ matrix.type.name }}
        path: |
          Amethyst/dist/
          !**/*.pdb
          !**/*.dbg
          !**/tests/**/*.ame

  test:
    name: "Test ${{ matrix.version }} on ${{ matrix.type.name }}"
    runs-on: ${{ matrix.type.os }}
    needs: [build]

    strategy:
      matrix:
        type: [
          {os: ubuntu-latest, name: linux},
          {os: windows-latest, name: windows},
          {os: windows-11-arm, name: windows-arm},
          {os: macos-latest, name: "mac"}
        ]
        version: ["1.21.9", "1.21.10", "1.21.11"]
      fail-fast: false
    
    steps:
      - uses: actions/checkout@v5

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: amethyst-${{ matrix.type.name }}
          path: ./Amethyst/dist

      - name: "Mark file as executable"
        if: runner.os != 'Windows'
        run: chmod +x ./Amethyst/dist/amethyst

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: '21'
      
      - name: Test
        uses: nick-fields/retry@v3
        with:
          timeout_minutes: 5
          max_attempts: 3
          command: python -u scripts/test_mc.py ${{ matrix.version }}
  
  linux-pkgs:
    name: "Build ${{ matrix.type.name }} packages"
    runs-on: ${{ matrix.type.os }}
    needs: [build]
    
    strategy:
      matrix:
        type: [
          { os: "ubuntu-latest", name: "linux", arch: ""},
          # { os: "ubuntu-24.04-arm", artifact: "linux-arm", arch: "--platform=linux/arm64 ogarcia/"}
        ]
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: amethyst-${{ matrix.type.name }}
          path: ./Amethyst/dist

      - name: Build Linux Packages
        run: |
              sudo gem install fpm && \
              sudo apt-get install -y libarchive-tools && \
              python -u scripts/linux_package.py

      - name: Test Ubuntu
        run:
             |
              sudo apt-get install -y ./*.deb && \
              amethyst -v
    
      - name: Run Arch Container
        run: docker run --rm -v ".:/mnt" ${{ matrix.type.arch }}archlinux /bin/sh -c "pacman-key --init && pacman -Sy && pacman -U --noconfirm ./mnt/*.pkg.tar.zst && /usr/bin/amethyst -v"

      - name: Upload Linux Packages
        uses: actions/upload-artifact@v4
        with:
          name: amethyst-${{ matrix.type.name }}-pkgs
          path: |
            *.deb
            *.pkg.tar.zst
  
  windows-installer:
    name: "Build ${{ matrix.type.name }} installer"
    runs-on: "windows-latest"
    needs: [build]

    strategy:
      matrix:
        type: [
          {os: windows-latest, name: windows, iss: "x64"},
          {os: windows-11-arm, name: windows-arm, iss: "arm"}
        ]
      fail-fast: false
    
    steps:
      - uses: actions/checkout@v5

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: "amethyst-${{ matrix.type.name }}"
          path: ./Amethyst/dist

      - name: Prep Installer
        run: |
          choco install innosetup --ignore-http-cache
          choco upgrade innosetup --ignore-http-cache -y
          python -u scripts/make_metadata_ini.py
      
      - name: Build Installer
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
        with:
          path: Amethyst/${{ matrix.type.iss }}-installer.iss
          options: /O+

      - name: Setup Installer
        run: copy Amethyst/Output/*.exe installer.exe
      
      - name: Run Installer
        run: .\installer.exe /SUPPRESSMSGBOXES
      
      - name: Test
        run: '"C:\Program Files\Amethyst\amethyst.exe"'

      - name: Upload Windows Installer
        uses: actions/upload-artifact@v4
        with:
          name: amethyst-${{ matrix.type.name }}-installer
          path: 'Amethyst/Output/*.exe'

  success:
    name: "Success"
    runs-on: "ubuntu"
    needs: [test, windows-installer, linux-pkgs]

    steps:
      - name: Nothing
        run: echo hi
