name: Amethyst

on:
  push:
    branches: ["master"]
    paths:
      - Amethyst/**
      - Geode/**
      - Datapack.Net/**
      - Datapack.Net.Tests/**
      - .github/workflows/amethyst.yml
      - scripts/**

jobs:
  build:
    name: "Build ${{ matrix.type.name }}"
    runs-on: ${{ matrix.type.os }}

    strategy:
      matrix:
        type: [
          {os: ubuntu-latest, name: linux},
          {os: ubuntu-24.04-arm, name: linux-arm},
          {os: windows-latest, name: windows},
          {os: windows-11-arm, name: windows-arm},
          {os: macos-latest, name: "mac"}
        ]
      fail-fast: false

    steps:
    - uses: actions/checkout@v5

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x

    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.13'

    - name: Setup Java
      uses: actions/setup-java@v5
      with:
        distribution: 'zulu'
        java-version: '21'

    - name: Restore Dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Datapack.Net Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Publish
      working-directory: ./Amethyst
      run: dotnet publish --configuration Release --output dist

    - name: Test
      run: python -u scripts/test_mc.py

    - name: Upload Build
      uses: actions/upload-artifact@v4
      with:
        name: amethyst-${{ matrix.type.name }}
        path: |
          Amethyst/dist/
          !**/*.pdb
          !**/*.dbg
          !**/tests/**/*.ame
  
  linux-pkgs:
    name: "Build ${{ matrix.arch.artifact }} packages"
    runs-on: ${{ matrix.arch.runner }}
    needs: [build]
    
    strategy:
      matrix:
        arch: [
          { runner: "ubuntu-latest", artifact: "linux", arch: "archlinux"},
          { runner: "ubuntu-24.04-arm", artifact: "linux-arm", arch: "--platform=linux/arm64 ogarcia/archlinux"}
        ]
      fail-fast: false

    steps:
      - uses: actions/checkout@v5

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: amethyst-${{ matrix.arch.artifact }}
          path: ./Amethyst/dist

      - name: Build Linux Packages
        run: |
              sudo gem install fpm && \
              sudo apt-get install -y libarchive-tools && \
              python -u scripts/linux_package.py

      - name: Test Ubuntu
        run:
             |
              sudo apt-get install -y *.deb && \
              amethyst -v
    
      - name: Run Arch Container
        run: docker run --rm -v ".:/mnt" ${{ matrix.arch.arch }} /bin/sh -c "pacman -Sy && pacman -U --noconfirm ./mnt/*.pkg.tar.zst && echo Installed && dpkg -L amethyst && echo $PATH && /usr/bin/amethyst -v"

      - name: Upload Linux Packages
        uses: actions/upload-artifact@v4
        if: ${{ runner.os == 'Linux' }}
        with:
          name: amethyst-${{ matrix.arch.artifact }}-pkgs
          path: |
            *.deb
            *.pkg.tar.zst
  
  windows-installer:
    name: "Build ${{ matrix.type.name }} installer"
    runs-on: "windows-latest"
    needs: [build]

    strategy:
      matrix:
        type: [
          {os: windows-latest, name: windows, iss: "x64"},
          {os: windows-11-arm, name: windows-arm, iss: "arm"}
        ]
      fail-fast: false
    
    steps:
      - uses: actions/checkout@v5

      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: "amethyst-${{ matrix.type.name }}"
          path: ./Amethyst/dist

      - name: Prep Installer
        run: |
          choco install innosetup --ignore-http-cache
          choco upgrade innosetup --ignore-http-cache -y
          python -u scripts/make_metadata_ini.py
      
      - name: Build Installer
        uses: Minionguyjpro/Inno-Setup-Action@v1.2.2
        with:
          path: Amethyst/${{ matrix.type.iss }}-installer.iss
          options: /O+

      - name: Setup Installer
        run: mv Amethyst/Output/*.exe installer.exe
      
      - name: Run Installer
        run: .\installer.exe /SUPPRESSMSGBOXES
      
      - name: Test
        run: '"C:\Program Files\Amethyst\amethyst.exe"'

      - name: Upload Windows Installer
        if: ${{ runner.os == 'Windows' }}
        uses: actions/upload-artifact@v4
        with:
          name: amethyst-${{ matrix.type.name }}-installer
          path: 'Amethyst/Output/*.exe'
